@import '../../styles/helpers/color-schemes.css';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.logo-subtext {
  font-size: 12px;
}

.header__search {
  display: flex;
  align-items: center;
  position: relative;
  width: 500px;
  @media (--small) {
    display: none;
  }
}
.header__search_mobile {
  display: none;
  align-items: center;
  position: relative;
  width: 500px;
  @media (--small) {
    display: flex;
    width: auto;
  }
}

.search-input {
  width: 500px;
  padding: 9px 40px 10px 40px;
  border: 1px solid var(--color-black);
  outline: none;
  height: 34px;
}

.search-input-mobil {
  width: 300px;
  padding: 9px 40px 10px 40px;
  border: 1px solid var(--color-black);
  outline: none;
  height: 34px;
  display: none;
  @media (--small) {
    display: block;
  }
}

.search-button {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.search-button-mobile {
  position: absolute;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  margin: 7px 11px;
}

.search-button-mobile svg {
  width: 20px;
  height: 20px;
  margin: 7px 11px;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 30px;
  @media (--medium-up) {
    gap: 30px;
  }
  @media (--small) {
    gap: 15px;
  }
}

.icon svg {
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.icon--fav path {
  fill: transparent;
  stroke: currentColor;

}
.icon--fav:hover path {
  fill: #808080;
  stroke: #808080;
}

.icon--account:hover path {
  fill: #808080;
  stroke: #808080;
}

.horizontal-menu {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
  height: 42px;
}

.horizontal-menu .menu {
	display: flex;
	list-style: none;
	gap: 50px;
	padding: 0;
  @media (--small) {
    display: none;
  }
}

.icon--hamburger {
  display: none;
  @media (--small) {
    display: block;
  }
}

.horizontal-menu .menu-item {
	font-size: var(--font-size-h10);
}
.horizontal-menu .menu-item a {
	text-decoration: none;
	color: var(--color-black);
}

.horizontal-menu .menu-item a:hover {
	text-decoration: underline;
}

.menu-left {
	display: flex;
	align-items: center;
	gap: 4px;
  @media (--small) {
    display: none;
  }
}

.menu-left a{
  text-decoration: none;
  color: var(--color-black);
}

.icon--leftLogo{
	width: 39px;
	height: 14px;
}

.icon--mainLogo{
  stroke: currentColor;
  color: currentColor;
}

.icon--account{
  stroke: currentColor;
  color: currentColor;
}

.icon--account path{
  stroke: currentColor;
  color: currentColor;
}

.icon--basket{
  stroke: currentColor;
  color: currentColor;
}

.icon--basket path{
  fill: transparent;
  stroke: currentColor;
}
