{% comment %}
  section-slideshow component

  Accepts:
  - text {sring} - Text to display

  Usage:
  {%- render 'section-slideshow', param1: 0 -%}
{% endcomment %}

{%- liquid
  assign text = text | default: section.settings.text | default: "Lorem ipsum"
-%}

<h1>{{ text }}</h1>


<script type="module">
  import "components/section-slideshow";
</script>