.featured-collections {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  .featured-collections__swiper {
    position: relative;
  }

  .featured-collections__swiper .swiper-prev {
    left: 0;

    svg {
      height: 30px;
    }
  }

  .featured-collections__swiper .swiper-next {
    right: 0;

    svg {
      height: 30px;
    }
  }
}
