{% comment %}
  section-title component

  Accepts:
  - title {string} - Title
  - link {string} - Link
  - link_text {string} - Link text

  Usage:
  {%- render 'section-title', title: "Lorem ipsum" -%}
{% endcomment %}

{%- liquid
  assign title = title | default: section.settings.title | default: collections[section.settings.collection].title | default: "Lorem ipsum"
  assign link = link | default: section.settings.link | default: collections[section.settings.collection].url | default: null
  assign link_text = link_text | default: section.settings.link_text | default: null
-%}

<div class="section-title content-wrapper">
  <h2>{{ title }}</h2>
  {% if link_text and link %}
    <div class="section-title__actions">
      <a href="{{ link }}" class="button">{{ link_text }}</a>
    </div>
  {% endif %}
</div>
