{% liquid
  capture block
    for block in section.blocks
      render 'slideshow-slide', block: block
    endfor
  endcapture

  render 'section-slideshow', slot: block
%}

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "page-width",
          "label": "Container"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "checkbox",
      "id": "enable_padding",
      "label": "Enable padding",
      "default": false
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "image_picker",
      "id": "header_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "scheme-1",
          "label": "Scheme 1"
        },
        {
          "value": "scheme-2",
          "label": "Scheme 2"
        },
        {
          "value": "scheme-3",
          "label": "Scheme 3"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "navigation",
      "label": "Enable navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Enable pagination",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scrollbar",
      "label": "Enable scrollbar",
      "default": false
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p></p>"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "media_crop",
          "label": "t:labels.media_crop",
          "options": [
            {
              "value": "original",
              "label": "Original"
            },
            {
              "value": "16-9",
              "label": "16:9"
            },
            {
              "value": "portrait",
              "label": "t:labels.portrait"
            },
            {
              "value": "landscape",
              "label": "t:labels.landscape"
            },
            {
              "value": "square",
              "label": "t:labels.square"
            }
          ],
          "default": "original"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
