.product-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  max-width: var(--size-16);
  position: relative;

  .product-card__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
  }
  .product-card__vendor {
    font-size: var(--text-h7);
    font-weight: var(--font-weight-bold);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
  }
  .product-card__title {
    font-size: var(--text-h10);
    font-weight: var(--font-weight-regular);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
  }
  .product-card__price {
    font-size: var(--text-h9);
    font-weight: var(--font-weight-regular);
  }
  .product-card__price-compare {
    text-decoration: line-through;
    color: var(--color-grey-1);
  }
  .product-card__message {
    font-size: var(--text-h11);
    font-weight: var(--font-weight-regular);
    color: var(--color-green-1);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
  }
  .product-card__media {
    position: relative;
  }
  .product-card__badges {
    position: absolute;
    top: var(--spacing-6);
    left: var(--spacing-6);
    display: flex;
    gap: var(--spacing-3);
    z-index: 2;
  }
  .product-card__badge {
    padding: var(--spacing-1) var(--spacing-5);
    font-size: var(--text-h12);
    text-transform: uppercase;
  }
  .product-card__badge--new {
    background-color: var(--color-black);
    color: var(--color-white);
  }
  .product-card__badge--sale {
    background-color: var(--color-orange-1);
    color: var(--color-white);
  }

  .product-card__favorite {
    position: absolute;
    top: var(--spacing-6);
    right: var(--spacing-6);
    z-index: 2;
  }
  .product-card__favorite-button {
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  .product-card__feature-icon {
    position: absolute;
    bottom: var(--spacing-6);
    left: var(--spacing-6);
    z-index: 2;
    padding: var(--spacing-4);
    background-color: var(--color-grey-2);
  }

  .product-card__variant-block {
    display: flex;
    position: absolute;
    bottom: var(--spacing-6);
    right: var(--spacing-6);
    z-index: 2;
    align-items: stretch;
  }
  .product-card__variant-icon {
    padding: var(--spacing-4);
    background-color: var(--color-white);
  }
  .product-card__variant-count {
    font-size: var(--text-h9);
    font-weight: var(--font-weight-regular);
    background: var(--color-grey-2);
    display: inline-flex;
    align-items: center;
    padding: 0 var(--spacing-6);
  }

  .product-card__url {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
