.featured-brands {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);

  .featured-brands__swiper {
    position: relative;
    overflow: hidden;
  }

  .featured-brands__swiper .swiper-prev {
    left: -0.1rem;

    svg {
      height: 15px;
    }
  }

  .featured-brands__swiper .swiper-next {
    right: -0.1rem;

    svg {
      height: 15px;
    }
  }
}
