{% comment %}
  section-banner component

  Accepts:
  - section {string} - Section 

  Usage:
  {%- render 'section-banner', section: section -%}
{% endcomment %}

{%- liquid
  assign image = image | default: section.settings.image | default: null
  assign media_crop = media_crop | default: section.settings.media_crop | default: "original"
  assign layout = layout | default: section.settings.layout | default: "full-width"
  assign link = link | default: section.settings.link | default: null
-%}

<div class="banner" data-layout="{{ layout }}">
  {% if link %}
    <a href="{{ link }}" class="banner__link">
  {% endif %}
    {% render 'block-image' image: image, media_crop: media_crop %}
  {% if link %}
  </a>
  {% endif %}
</div>