.linklist-link {
  display: inline-flex;
  border: 1px solid var(--color-black);
  padding: var(--spacing-5);
  font-size: var(--text-h1);
  font-weight: var(--font-weight-medium);
  width: 100%;
  justify-content: center;
  text-transform: uppercase;
}
