{% comment %}
  linklist-link component

  Accepts:
  - block {string} - Block

  Usage:
  {%- render 'linklist-link', block: block -%}
{% endcomment %}

{%- liquid
  assign link = link | default: block.settings.link | default: collections[section.settings.collection].url | default: "#"
  assign link_text = link_text | default: block.settings.text | default: "ERKEK"
-%}

<a href="{{ link }}" class="linklist-link">{{ link_text }}</a>