html {
  touch-action: manipulation;
  font-size: 10px;
}

html[dir='rtl'] {
  direction: rtl;
}

html,
body {
  /* background-color: rgb(243 243 243);
  color: rgb(18 18 18);
  line-height: 1.4; */
  background: white;
  letter-spacing: -0.04rem;
}

[hidden] {
  display: none;
}

.shopify-section {
  width: 100%;
}

h2.explorer {
  padding: 20px;
}

section.explorer {
  padding: 0;
}
